# === Konfigurasi Docker Compose (bukan .env Laravel) ===
# Copy file ini menjadi .env di root project

UID=1000
GID=1000

APP_PORT=8080
VITE_PORT=5173
PMA_PORT=8081

DB_DATABASE=toko_db
DB_USERNAME=toko_user
DB_PASSWORD=secret
DB_ROOT_PASSWORD=rootsecret
DB_PORT_HOST=3306
